{% extends 'base.html' %}
     
     
    {% block title %} Bitacora del FLISOL 2014 {% endblock %}
     
    {% block content %}
        <h1> Mi Bitacora </h1>
        {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{post.get_absolute_url}}">
                    {{post.title}}
                </a>
            </h2>
            <p>{{post.description}}</p>
            <p>
                Publicado en
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
        </div>
        {% endfor %}
    {% endblock %}
